<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.openai.chatgpt" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="Hey ChatGPT"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LaunchActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/TransparentTheme" />

        <service
            android:name=".WakeService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
</manifest>
